<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.z10.chatdrop.share</string>
	<key>CFBundleName</key>
	<string>ChatDrop</string>
	<key>CFBundleDisplayName</key>
	<string>ChatDrop</string>
	<key>CFBundleExecutable</key>
	<string>ChatDropShare</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationSupportsFileWithMaxCount</key>
				<integer>16</integer>
				<key>NSExtensionActivationDictionaryVersion</key>
				<integer>2</integer>
			</dict>
			<key>NSExtensionServiceAllowsFinderPreviewItem</key>
			<true/>
			<key>NSExtensionServiceAllowsTouchBarItem</key>
			<false/>
			<key>NSExtensionServiceTouchBarBezelColorName</key>
			<string>texturedRounded</string>
		</dict>
	</dict>
</dict>
</plist>
